[MASTER]

extension-pkg-whitelist=netCDF4

[BASIC]

# Good variable names which should always be accepted, separated by a comma
good-names=i,j,x,y,ax

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120
